fastapi
uvicorn[standard]
pydantic
jinja2
simpleeval
pynput
watchdog
psutil
pyperclip
croniter
pillow
plyer
requests

pyxdg; sys_platform == "linux"
cairosvg; sys_platform == "linux"
pywin32; sys_platform == "win32"
